header {
  background-color: #404040;
  padding: 1%;
}

main{
  padding: 10px;
}
.product-info
{
  padding: 10px;
}
header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

body {
  margin: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid;
  margin: 10px;
}

.product img {
  width: 100%;
  max-width: 330px;
}