main{
  flex: 1;
}
.site-container
{
  min-height: 100vh;
}
.product-info
{
  padding: 10px;
}

body {
  margin: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  border: 1px solid;
  margin: 10px;
}

.product img {
  width: 100%;
  max-width: 330px;
}
.rating{
  display: flex;
}
.rating span{
  display: flex;
  align-items: center;
  color: #fbce07;
}
.img-large
{
  max-width: 80%;
}
.img-thumbnail
{
  height: 80px;
}